<div class="mt-5">
  <div class="card">
    <div class="card-body">
      <div class="form-group row">
        <label for="inputNome" class="col-sm-1 col-form-label">Nome:</label>
        <div class="col-sm-11">
          <input type="text" class="form-control" id="inputNome" placeholder="Digite o nome do pet">
        </div>
      </div>
      <div class="form-group row">
        <label for="responsavel" class="col-sm-1 col-form-label">Responsável:</label>
        <div class="col-sm-11">
          <input type="text" class="form-control" id="responsavel" placeholder="Digite o nome do responsável">
        </div>
      </div>
      <div class="form-group row">
        <label for="telefone" class="col-sm-1 col-form-label">Telefone:</label>
        <div class="col-sm-11">
          <input type="text" class="form-control" id="telefone" placeholder="Digite o telefone">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputDia" class="col-sm-1 col-form-label">Data:</label>
        <div class="col-2">
          <input type="date" class="form-control" id="inputDia">
        
        </div>
      </div>
      <div class="form-group row">
        <label for="horario" class="col-sm-1 col-form-label">Horário:</label>
        <div class="col-10">
            <div class="row">
              <div class="col-2">
                <input type="button" class="btn btn-primary btn-block rounded" value="08:00">
              </div>
              <div class="col-2">
                <input type="button" class="btn btn-primary btn-block rounded" value="08:30">
              </div>
              <div class="col-2">
                <input type="button" class="btn btn-primary btn-block rounded" value="09:00">
              </div>
              <div class="col-2">
                <input type="button" class="btn btn-primary btn-block rounded" value="09:30">
              </div>
              <div class="col-2">
                <input type="button" class="btn btn-primary btn-block rounded" value="10:00">
              </div>
              <div class="col-2">
                <input type="button" class="btn btn-primary btn-block rounded" value="10:30">
              </div>
              
            </div>
            
            
            
            <div class="row mt-2">
                <div class="col-2">
                    <input type="button" class="btn btn-primary btn-block rounded" value="11:00">
                </div>
                <div class="col-2">
                    <input type="button" class="btn btn-primary btn-block rounded" value="11:30">
                </div>
                <div class="col-2">
                    <input type="button" class="btn btn-primary btn-block rounded" value="12:00">
                </div>
                <div class="col-2">
                    <input type="button" class="btn btn-primary btn-block rounded" value="12:30">
                </div>
                <div class="col-2">
                    <input type="button" class="btn btn-primary btn-block rounded" value="13:00">
                </div>
                <div class="col-2">
                    <input type="button" class="btn btn-primary btn-block rounded" value="13:30">
                </div>
                </div>
            
             
            <div class="row mt-2">
                <div class="col-2">
                        <input type="button" class="btn btn-primary btn-block rounded" value="14:00">
                </div>
                <div class="col-2">
                        <input type="button" class="btn btn-primary btn-block rounded" value="14:30">
                </div>
                <div class="col-2">
                    <input type="button" class="btn btn-primary btn-block rounded" value="15:00">
                </div>
                <div class="col-2">
                    <input type="button" class="btn btn-primary btn-block rounded" value="15:30">
                </div>
                <div class="col-2">
                    <input type="button" class="btn btn-primary btn-block rounded" value="16:00">
                </div>
                <div class="col-2">
                    <input type="button" class="btn btn-primary btn-block rounded" value="16:30">
                </div>
                <div class="col-2 mt-2">
                    <input type="button" class="btn btn-primary btn-block rounded" value="17:00">
                </div>
                <div class="col-2 mt-2">
                    <input type="button" class="btn btn-primary btn-block rounded" value="17:30">
                </div>
                <div class="col-2 mt-2">
                    <input type="button" class="btn btn-primary btn-block rounded mb-4" value="18:00">
                </div>
            
                
                <div class="row mt-4 ">
                <button type="submit" class="btn btn-success  agendar col-1 mb-4" >Salvar</button>
            



        </div>
          
    </div>
  </div>
</div>

