
<div class="buscador ">

    <input type="search"  #key="ngModel" ngModel
                name="key" id="searchName"class="form-control w-25" placeholder="Buscar pet..." required>
                <i class="fa-sharp fa-solid fa-magnifying-glass tupla" data-toggle="tooltip" ></i>
 
 </div>
 <div class="table">
    <div class="card">
       <table class="table-hover" id="main-container" >
          <tr>
             <th>Nome</th>
             <th>Responsavel</th>
             <th>Telefone</th>
             <th class="text-center">Data</th>
             <th>Horário</th>
             <th>Ações</th>
          </tr>
 
          <tbody>
          
                
            
       </table>
    </div>
 </div>
