<div class= "d-flex flex-row">
    
    <select class=" d-flex form-select col-6 w-25 buscador"  [(ngModel)]="valorSelecionado" #valor>
      <option [ngValue]="undefined" [disabled]="true">Selecione o período para o relatório</option>
        <option value="7" >7 Dias</option>
        <option value="30">30 Dias</option>
        <option value="60">60 Dias</option>
        <option value="99999">Tudo</option>
      </select>
      <select class=" d-flex form-select col-6 w-25 buscador" [(ngModel)]="statusSelecionado">
        <option [ngValue]="undefined" [disabled]="true" >Selecione o status para o relatório</option>
        <option value="FINALIZADO">Preparando</option>
        <option value="PREPARANDO">Finalizado</option>
        <option value="x">Todos</option>
      </select>

      <button [disabled]="!valorSelecionado || !statusSelecionado"  (click)="getRelatorios(valorSelecionado,statusSelecionado)" type="button"  data-dismiss="modal" class="btn btn-dark botao" 
      >Buscar</button>
      

</div>
<div class="buscadorf ">

   <input type="search" (ngModelChange)="searchTratamentos(key.value)" #key="ngModel" ngModel
               name="key" id="searchName"class="form-control w-25" placeholder="Buscar pet..." required>
               <i class="fa-sharp fa-solid fa-magnifying-glass tupla" data-toggle="tooltip" ></i>

</div>
<table class="table table-striped table-hover table-primary col-11 " id="main-container" >
  <thead>
     <tr>
        <th>Nome</th>
        <th>Responsavel</th>
        <th>Tratamento</th>
        <th>Status</th>
        <th>Entrada</th>
        <th>Ações</th>
     </tr>
    </thead>

    <tbody>
      <tr *ngFor="let petshop of pet">
        <td>{{petshop.nome}}</td>
        <td>{{petshop.responsavel}}</td>
        <td>{{petshop.tratamento}}</td>
        <td>{{petshop.statusTratamento}}</td>
        <td>{{petshop.entrada}}</td>
        <td >
           <a (click)="onOpenModal(petshop, 'docPet')" href="#" class="" data-toggle="modal"><i class="material-icons fa-solid fa-file" data-toggle="tooltip" title="Gerar Documento"></i></a>
           <a (click)="onOpenModal(petshop, 'update')" href="#" class="edit" data-toggle="modal"><i class="material-icons fa fa-pencil" data-toggle="tooltip" title="Editar"></i></a>
           <a (click)="onOpenModal(petshop, 'delete')" href="#" class="delete" data-toggle="modal"><i class="material-icons fa fa-times" data-toggle="tooltip" title="Deletar"></i></a>
        </td>
        
     </tr>

       <div class="modal fade" id="updatePetModal3" tabindex="-1" role="dialog" aria-labelledby="relatorioEditModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
           <div class="modal-content ">
              <div class="modal-header">
                 <h5 class="modal-title" id="updatePetshopModalLabel">Editar Tratamento de {{editPet?.nome}}</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
                 </button>
              </div>
              <div class="modal-body">
                 <form #editForm="ngForm">
                    <div class="form-group">
                       <label for="nome">Nome</label>
                       <input type="text" ngModel="{{editPet?.nome}}" name="nome" class="form-control" id="nome" aria-describedby="emailHelp" placeholder="Nome">
                    </div>
                    <input type="hidden" ngModel="{{editPet?.id}}" name="id" class="form-control" id="id" placeholder="Email">
                    <div class="form-group">
                       <label for="especie">Espécie:</label>
                       <input type="text" ngModel="{{editPet?.email}}" name="especie" class="form-control" id="especie" placeholder="Especie">
                    </div>
                    <div class="form-group">
                      <label for="raca">Raça</label>
                      <input type="text" ngModel="{{editPet?.raca}}" name="raca" class="form-control" id="raca" placeholder="Raca">
                   </div>
                   <div class="form-group">
                    <label for="altura">Altura</label>
                    <input type="text" ngModel="{{editPet?.altura}}" name="altura" class="form-control" id="altura" placeholder="Altura">
                  </div>
                  <div class="form-group">
                    <label for="peso">Peso</label>
                    <input type="text" ngModel="{{editPet?.peso}}" name="peso" class="form-control" id="peso" placeholder="Peso">
                 </div>
                 <div class="form-group">
                  <label for="pelagem">Pelagem</label>
                  <input type="text" ngModel="{{editPet?.pelagem}}" name="pelagem" class="form-control" id="pelagem" placeholder="Pelagem">
                </div>
               <div class="form-group">
                <label for="tratamento">Tratamento</label>
                <input type="text" ngModel="{{editPet?.tratamento}}" name="tratamento" class="form-control" id="tratamento" placeholder="Tratamento">
              </div>
              <div class="form-group">
                <label for="statusTratamento">Status do Tratamento</label>
                <input type="text" ngModel="{{editPet?.statusTratamento}}" name="statusTratamento" class="form-control" id="statusTratamento" placeholder="statusTratamento">
              </div>
                  <div class="form-group">
                       <label for="email">Email</label>
                       <input type="email" ngModel="{{editPet?.email}}" name="email" class="form-control" id="email" placeholder="Email">
                  </div>
                    <div class="form-group">
                       <label for="telefone">Telefone</label>
                       <input type="text" ngModel="{{editPet?.telefone}}" name="telefone" class="form-control" id="telefone" name="telefone" placeholder="Telefone">
                    </div>
                    <div class="form-group">
                       <label for="responsavel">Responsável</label>
                       <input type="text" ngModel="{{editPet?.responsavel}}" name="responsavel" class="form-control" id="responsavel" name="responsavel" placeholder="Telefone">
                    </div>
                    <div class="form-group">
                      <label for="valor">Valor</label>
                      <input type="text" ngModel="{{editPet?.valor}}" name="valor" class="form-control" id="valor" name="valor" placeholder="Valor">
                   </div>
                   <div class="text-center">
                       <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Fechar</button>
                       <button (click)="onUpdatePet(editForm.value,editPet?.id)" data-dismiss="modal" class="btn btn-primary ml-2" >Salvar</button>
                    </div>
                 </form>
              </div>
           </div>
        </div>
        </div>

        <div class="modal fade" id="deletePetModal2" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
           <div class="modal-dialog" role="document">
              <div class="modal-content">
                 <div class="modal-header">
                    <h5 class="modal-title" id="deleteModelLabel">Deletar Serviço</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                 </div>
                 <div class="modal-body">
                    <p>Tem certeza que deseja deletar: {{deletePet?.nome}}?</p>
                    <div class="text-center">
                       <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                       <button (click)="onDeletePet(deletePet?.id)" class="btn btn-danger ml-2" data-dismiss="modal">Sim</button>
                    </div>
                 </div>
              </div>
           </div>
           </div>

           <div class="modal fade" id="documentPetModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                 <div class="modal-content">
                    <div class="modal-header">
                       <h5 class="modal-title" id="deleteModelLabel">Gerar Documento</h5>
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                       </button>
                    </div>
                    <div class="modal-body">
                       <p>Deseja gerar o documento de : {{docPet?.nome}} ?</p>
                       <div class="text-center">
                          <button (click)="onDocumentPet(docPet?.id)" class="btn btn-primary mr-2" data-dismiss="modal">Sim</button>
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                       </div>
                    </div>
                 </div>
              </div>
              </div>