.buscador{
    margin-left: 20vh;
    margin-top: 5vh;
        
}
.buscador2{
    margin-left: 20vh;
    margin-top: 5vh;
        
}
.botao{
    margin-left: 40vh;
    margin-top: 5vh;
        
}
.table{
    
    margin-left: 19.2vh;
    
}
.rela {
    opacity: 0.9;
    font-size: 22px!important;
    margin: 0 5px;
}
.fundo{
    background-color: black!important;
}