* {
   
    
    }
    @media (min-width: 991.98px) {
    main {
    padding-left: 240px;
    }
    }
    
    /* Sidebar */
    .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 10vw;
    z-index: 600;
    background-color: #222327;
   }
   .menus{
    color: white!important;
    background-color: #212529!important;
    margin-top: 10px;
   }
   .menus:hover{
    cursor: pointer;
    background-color: white!important;
    color: black !important;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
   }
   .ripples{

       background-color: #212529;
       color: white;
   }
   
   .ripples:hover{
    background-color: white;
    color: black;
   }
   .ativo{
    background-color: white;
    color: black;
    
   }

    .navegacao{
        margin-left: 95vh;
    }
    .navbar-brand{
        margin-left: 30px;
        margin-top: 10px;
    }

    .active-route {
        background-color: white !important;
        color: black !important; 
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;   
    }
  