
.buscador input{
    position: absolute;
    margin-left: 82vh;
    margin-top: 38px;
    text-indent: 25px;
    border-radius: 40px;
    height: 40px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.589);

}
.tupla{
    position: relative;
    margin-left: 83vh;
    margin-top: 48px;
    font-size: 1.2rem ;
    
    
}
.table{
    width: 87.8vmax;
    margin-left: 21.2vh;
    margin-top: 4vh;
    
}
.table td:last-child i {
    opacity: 0.9;
    font-size: 22px;
    margin: 0 5px;
}
th {border:none!important}
.table th{
    margin-right: 0px!important;
    margin-bottom: 0px!important;
    margin: 0!important;
    border: 50px!important;
}
.table td a {
    font-weight: bold;
    
    display: inline-block;
    text-decoration: none;
    outline: none !important;
}
.table td a:hover {
    color: #2196F3;
}
.elemento1{
    height: 50px;
}
.editar{
    color: #FFC107;
}
.deletar{
    color: #F44336;
}
.table td i {
    font-size: 1.5rem;
}
.table tr th:last-child {
    width: 150px;
}
.colstatus{
    width: 130px;
    
    border: 0px; 
}
.preparando{
    background-color: #0374e6;
    color: #fff!important;
    border-radius: 5px;
    width: 130px;
}
.finalizado{
    font-size: 0.9rem;
    background-color: #03e634;
    color: #fff!important;
    border-radius: 5px;
    width: 130px;
    font-weight: bold;
}
.cancelado{
    font-size: 0.9rem;
    background-color: #e60303;
    color: #fff!important;
    border-radius: 5px;
    width: 130px;
    font-weight: bold;
}
.pagination{
    margin-left: 85.2vmax;
    margin-top: 0px !important;
}